.second-level-header {
  margin: 12px 0 24px 0;
  font-size: 24px;
  font-weight: 700;
}

.second-level-menus {
  margin: 16px 0;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
