@import '../../../styles/mixin';
@import '../../../styles/variables';
.order-bar {
  width: auto;
  height: 500px;
  padding-top: 20px;

  .title-wrap {
    display: flex;
    width: 400px;
    height: 100px;
    padding: 7px;

    .title-text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 300px;
      height: 100px;
      font-size: 20px;

      .text-weight {
        font-size: 22px;
        font-weight: 800;
      }
    }

    .heart-icon {
      width: 25px;
      height: 25px;
      margin: 7px;
    }
  }

  .price-box {
    display: flex;
    width: 400px;
    height: auto;
    padding: 20px 0 10px 0;

    span {
      padding: 10px 5px;
      font-size: 25px;
    }

    .price-num {
      font-size: 35px;
      font-weight: 800;
    }
  }

  .star-box {
    padding: 7px;
    background-color: white;
  }

  .caution {
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin: 10px 0;
    color: gray;
    font-size: 15px;
  }

  .how-border-font {
    padding: 15px 7px;
    font-size: 18px;
    font-weight: 700;
  }

  .border-font {
    margin: 0;
    font-weight: 700;
  }

  .how-to-box {
    width: 400px;

    padding: 10px 0;

    .how-to-border-box {
      width: 400px;
      height: auto;
      border: 1px solid $gray-opacity;
      border-radius: 5px;
    }

    .bottom-border {
      padding-bottom: 10px;
      border-bottom: 1px solid $gray-opacity;
    }

    .how-to-order {
      display: flex;
      align-items: center;
      justify-content: baseline;
      height: 50%;
      margin: 10px;

      .icon {
        width: 30px;
        height: 30px;
        margin: 10px;
      }
    }
  }

  .how-to-get-box {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr;
  }

  .count-btn-box {
    display: flex;
    justify-content: baseline;

    .order-btn {
      width: 150px;
      height: 70px;
      margin: 10px;
      border: none;
      border-radius: 40px;
      background-color: rgb(80, 148, 211);
      color: white;
      font-weight: 700;
    }
    .order-btn:hover {
      background-color: rgb(1, 88, 170);
    }
  }
}
