@import '../../../styles/mixin';
@import '../../../styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap');

.order-bar {
  margin-left: 40px;

  .title-wrap {
    display: flex;
    width: 400px;

    .title-text {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      font-size: 20px;

      .text-weight {
        margin-bottom: 12px;
        font-size: 18px;
        font-weight: 700;
      }

      .sub-info {
        display: flex;
        align-items: center;
        .sub {
          color: #484848;
          font-size: 18px;
          font-weight: 300;
        }
      }
    }
  }

  .price-box {
    display: flex;
    width: 400px;
    height: auto;
    padding: 24px 0;

    .won {
      margin-right: 8px;
      font-size: 18px;
    }

    .price-num {
      font-size: 30px;
      font-weight: 800;
    }
  }

  .star-box {
    padding: 7px;
    background-color: white;
  }

  .caution {
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin: 10px 0;
    color: gray;
    font-size: 15px;
  }

  .how-border-font {
    padding: 24px 0;
    font-size: 16px;
    font-weight: 700;
  }

  .border-font {
    font-size: 16px;
    font-weight: 700;
  }
  .border-sub {
    padding-top: 6px;
    font-size: 14px;
    font-weight: 300;
  }

  .how-to-box {
    width: 400px;
    padding: 10px 0;

    .choose-size {
      padding: 24px 0;
      border-top: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
      font-size: 16px;
      font-weight: 700;

      .size {
        margin-top: 8px;
        color: #484848;
        font-size: 14px;
        font-weight: 400;
      }
    }

    .how-to-border-box {
      width: 400px;
      height: auto;
      border: 1px solid $gray-opacity;
      border-radius: 5px;
    }

    .bottom-border {
      padding-bottom: 10px;
      border-bottom: 1px solid $gray-opacity;
    }

    .how-to-order {
      display: flex;
      align-items: center;
      justify-content: baseline;
      height: 50%;
      margin: 10px;

      .icon {
        width: 30px;
        height: 30px;
        margin: 10px;
      }
    }
  }

  .how-to-get-box {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr;
  }

  .count-btn-box {
    display: flex;

    .order-btn {
      width: 100%;
      height: 60px;
      margin: 10px;
      transition: 0.3s;
      border: none;
      border-radius: 40px;
      background-color: rgb(80, 148, 211);
      color: white;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
    }
    .order-btn:hover {
      background-color: rgb(1, 88, 170);
    }
  }
}
