@import '../../styles/variables';
@import '../../styles/mixin';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap');

.order {
  padding: 0px 90px 0px 180px;
  font-family: 'Noto Sans', sans-serif;
  user-select: none;

  .section-top {
    padding: 28px 0;
  }
  .logo {
    width: 100px;
    height: 40px;
    background-image: url('../../assets/wekea-logo.png');
    background-position: center center;
    background-size: cover;
  }

  .section-main {
    display: flex;
    margin-top: 24px;

    .column-num {
      height: 100%;
      .step-num-bg {
        @include flexCenter;
        width: 28px;
        height: 28px;
        margin-right: 36px;
        border-radius: 50%;
        background-color: #111111;

        .step-num {
          color: #ffffff;
          font-size: 18px;
          font-weight: 700;
        }
      }
    }

    .section-text {
      width: 50%;
      .section-header {
        display: flex;
        align-items: center;

        .step-header {
          font-size: 36px;
          font-weight: 700;
        }
      }

      .delivery-address {
        margin-top: 30px;
      }

      .address-text {
        margin: 12px 0;
        font-size: 16px;
        font-weight: 700;
      }

      .fix-address {
        color: #484848;
        font-size: 16px;
        text-decoration: underline;
      }

      .delivery-type-header {
        margin-top: 48px;
        font-size: 16px;
        font-weight: 700;
      }

      .delivery-option-box {
        margin-top: 20px;
        padding: 24px;
        border: 2px solid $ikea-blue;
        border-radius: 5px;

        .title-wrap {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .delivery-option-title {
          font-size: 16px;
          font-weight: 700;
        }

        .delivery-time {
          margin-top: 20px;
          color: #484848;
          font-size: 14px;
        }

        .no-contact-box {
          margin-top: 16px;
          padding: 20px;
          border: 1px solid #e6e6e6;
          border-radius: 5px;
          cursor: pointer;

          .checkbox-container {
            display: flex;
            align-items: center;
            margin-top: 16px;
          }

          .checkbox {
            width: 20px;
            height: 20px;
            margin-right: 12px;
          }

          .checkbox-label {
            color: #484848;
            font-size: 14px;
          }
        }
      }

      .btn-cta {
        width: 100%;
        margin: 36px 0;
        padding: 16px 0;
        border: 0;
        border-radius: 55px;
        background-color: $ikea-blue;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }

  .right {
    width: 40%;
    padding-left: 60px;

    .content-right {
      .order-item-container {
        font-size: 16px;
        font-weight: 700;

        .title-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .title {
            font-size: 16px;
            font-weight: 700;
          }

          .fix-link {
            color: #484848;
            font-size: 14px;
            font-weight: 300;
            text-decoration: underline;
            cursor: pointer;
          }
        }

        .item-thumb-container {
          display: flex;
          align-items: center;
          margin: 16px 0 30px 0;

          .item-thumbnail {
            width: 64px;
            height: 64px;
            margin-right: 10px;
            background-position: center center;
            background-size: cover;
          }
        }
      }
      .order-total {
        margin-top: 48px;
        .title {
          font-size: 16px;
          font-weight: 700;
        }
        .header {
          padding: 16px 0;
          border-bottom: 2px solid;
          font-size: 14px;

          .sum-text {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 0;
          }
        }
      }
      .cost {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 16px 0 60px 0;
        font-weight: 700;

        .total {
          font-size: 14px;
        }
        .cost-num {
          font-size: 22px;
        }
      }

      .extra-info {
        display: flex;
        align-items: center;
        margin-top: 28px;
        color: #484848;
        font-size: 14px;

        .info-text {
          margin-left: 6px;
          font-weight: 700;
          text-decoration: underline;
        }
      }
    }
  }
}
