/* stylelint-disable max-nesting-depth */
@import '/src/styles/variables';
@import '../../styles/mixin';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap');

.main {
  width: 100%;
  padding: 0 90px 0 180px;
  background-color: white;
  font-family: 'Noto Sans', sans-serif;

  .semi-menu {
    width: auto;
    margin-bottom: 70px;

    .semi-menu-left {
      display: flex;
      justify-content: space-between;
      width: 500px;

      .text {
        font-size: 20px;
        font-weight: 700;
      }
    }
  }

  .main-top {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 70px;

    .main-img {
      width: 100%;
      height: 500px;
      background-image: url('https://images.unsplash.com/photo-1592178036775-70c41f818c13?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
      background-size: cover;
    }

    .text-box {
      width: min(100%, 700px);
      height: 100%;
      padding: 60px 50px;
      background-color: black;
      color: white;

      .main-title-text {
        margin: 20px 0;
      }

      .main-small-text {
        display: block;
        margin: 20px 0;
        font-size: 18px;
        line-height: 1.5;
      }
    }
    .main-img-btn {
      width: 260px;
      height: 50px;
      border: none;
      border-radius: 30px;
      background-color: $white-opacity;
      color: black;
      font-size: 15px;
      font-weight: 700;
      cursor: pointer;

      &:hover {
        background-color: white;
      }
    }
  }

  .main-mid {
    margin-bottom: 100px;

    .mapping-box {
      display: flex;
      overflow: auto;
      overflow-x: scroll;
      white-space: nowrap;

      &::-webkit-scrollbar {
        height: 5px;

        &:hover {
          background: #e8e8e88c;
        }
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background: #ccc;

        &:hover {
          background-color: black;
        }
      }
    }

    .color-card-map {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      width: 230px;
      height: 320px;
      margin: 20px;
      padding: 40px;
      background-color: #ca5009;
      background-size: cover;

      .card-contents-first {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        span {
          color: white;
          font-weight: 700;
          line-height: 1.5;
          word-break: keep-all;
          white-space: normal;
        }

        .right-btn {
          @include flexCenter;
          width: 50px;
          height: 50px;
          padding: 10px;
          border-radius: 50px;
          background-color: $white-opacity;
          font-weight: 700;
          cursor: pointer;

          &:hover {
            background-color: white;
          }
        }
      }

      .card-contents {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        .color-box-btn {
          @include flexCenter;
          width: auto;
          height: 45px;
          padding: 10px;
          border-radius: 50px;
          background-color: $white-opacity;
          font-weight: 700;
          cursor: pointer;

          &:hover {
            background-color: white;
          }
        }
      }
    }
  }

  .btn {
    @include flexCenter;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50px;
    background-color: $white-opacity;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      background-color: white;
    }
  }

  .event-box {
    .event-wrap {
      display: flex;
      margin-bottom: 100px;
      padding: 20px;
      overflow: auto;
      overflow-x: scroll;
      white-space: nowrap;

      &::-webkit-scrollbar {
        height: 5px;

        &:hover {
          background: #e8e8e88c;
        }
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background: #ccc;

        &:hover {
          background-color: black;
        }
      }
    }

    .event-slide {
      width: 100%;
      height: 760px;
      margin: 0 20px;
      background-color: #edddd3;

      .event-img {
        width: 100%;
        height: 53%;
        background-size: cover;
      }

      .event-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 400px;
        height: 47%;
        padding: 30px;
        font-size: 15px;

        span {
          line-height: 1.5;
          word-break: keep-all;
          white-space: normal;
        }
      }
    }
  }

  .recommended-product {
    margin-bottom: 100px;
  }

  .components {
    display: flex;
    justify-content: baseline;
    overflow: auto;
    overflow-x: scroll;
    white-space: nowrap;

    &::-webkit-scrollbar {
      height: 5px;

      &:hover {
        background: #e8e8e88c;
      }
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background: #ccc;

      &:hover {
        background-color: black;
      }
    }

    .items {
      cursor: pointer;
    }
  }

  h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    word-break: keep-all;
    white-space: normal;
  }

  .product-link {
    color: black;
    text-decoration: none;
  }
}
