@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin scrollStyle {
  &::-webkit-scrollbar {
    width: 4px;

    &:hover {
      background: #e8e8e88c;
    }
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #ccc;

    &:hover {
      background-color: black;
    }
  }
}
