@import '../../styles/mixin';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap');

.product-detail {
  display: flex;
  justify-content: center;
  margin: 0 100px 0 80px;
  font-family: 'Noto Sans', sans-serif;

  .image-box {
    width: 100%;
    height: 100%;
    .img-border {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      padding: 20px;
    }

    .img-wrap {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: repeat(2, minmax(180px, 1fr));
      width: 630px;
      height: 630px;

      .img {
        width: 300px;
        height: 300px;
      }
    }
  }

  .detail-box {
    .detail-text {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 30px 0;
      font-size: 15px;
    }

    .product-code-box {
      display: flex;
      align-items: center;
      width: 100%;
      height: 50px;

      .text {
        display: flex;
        align-items: center;
        font-size: 13px;
      }

      .code {
        @include flexCenter;
        width: 90px;
        height: 20px;
        background-color: black;
        color: white;
        font-size: 13px;
      }
    }
  }

  .inner-menu-box {
    width: fit-content;

    .inner-menu-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 700px;
      height: 100px;
      padding: 30px 0;
      border-top: 1px solid rgba(128, 128, 128, 0.45);
      font-size: 22px;
      font-weight: 600;
    }

    .inner-btu {
      border: none;
      background-color: rgba(128, 128, 128, 0);
      color: gray;
    }

    .inner-btu:hover {
      color: black;
      font-size: 29px;
    }

    .text {
      display: block;
    }

    .five-star {
      font-size: 13px;
    }
  }
}
