@import '../../../../styles/variables';
@import '../../../../styles/mixin';
.count-button {
  display: flex;
  align-items: center;

  margin: 10px;
  // border: 1px solid $gray-opacity;
  border-radius: 55px;

  .num {
    padding: 0 12px;
    font-size: 26px;
    font-weight: 700;
  }

  .button {
    @include flexCenter;
    width: 40px;
    height: 40px;
    margin: 0;
    transition: 0.3s;
    border: none;
    border-radius: 15px;
    background-color: #eaeaea;
    color: #898989;
    font-size: 40px;
    cursor: pointer;

    &:hover {
      background-color: rgb(134, 134, 134);
      color: #ffffff;
    }
  }
}
