.backdrop {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.drawer {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  border-radius: 15px 0 0 15px;
  background: #ffffff;
}

.drawer.open {
  transform: translateX(0);
}
