@import '/src/styles/variables';
@import '../../../src/styles/mixin';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

.products {
  width: 100%;
  padding-left: 180px;
  background-color: white;
  font-family: 'Noto Sans KR', sans-serif;

  .page-title {
    display: flex;
    align-items: flex-end;
    height: 100px;
    padding: 20px 25px;
    font-size: 45px;
    font-weight: 800;
  }

  .products-text-box {
    padding: 0 25px;

    .semi-title {
      display: flex;
      align-items: center;
      height: 80px;
      font-size: 30px;
      font-weight: 700;
    }

    .semi-text {
      font-size: 18px;
      font-weight: 350;
      line-height: 1.5;
    }
  }

  .inner-menu-box {
    display: flex;
  }

  .inner-menu-item {
    .img {
      width: 120px;
      height: 70px;
      margin: 10px 5px;
      size: 100%;
    }

    .text {
      margin: 8px 5px;
      font-size: 17px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .chip-modal-box {
    display: flex;
    justify-content: baseline;
  }

  .products-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-width: 600px;
    max-width: 1200px;
    overflow: hidden;
  }

  .mini-product-link {
    color: black;
    text-decoration: none;
  }
}
