/* stylelint-disable max-nesting-depth */
@import '/src/styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

.product {
  width: 100%;
  padding: 0 90px 0 180px;
  background-color: white;
  font-family: 'Noto Sans KR', sans-serif;

  .page-title {
    margin: 20px 25px;
    font-size: 45px;
    font-weight: 800;
  }

  .product-text-box {
    padding: 0 25px;

    .semi-title {
      margin: 50px 0 20px 0;
      font-size: 30px;
      font-weight: 700;
    }

    .semi-text {
      font-size: 18px;
      font-weight: 350;
      line-height: 1.5;
    }
  }

  .inner-menu-box {
    display: flex;
    justify-content: baseline;
    margin: 40px 20px;
  }

  .inner-menu-item {
    .img {
      width: 120px;
      height: 70px;
      margin: 10px 5px;
      size: 100%;
    }

    .text {
      margin: 8px 5px;
      font-size: 17px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .modal-box {
    display: flex;
    justify-content: baseline;
  }

  .product-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
