@import '../../../styles/mixin';
@import '../../../styles/variables';

.mini-product {
  width: 200px;
  min-width: 180px;
  max-width: 250px;
  height: auto;
  margin: 20px;

  .img {
    width: 200px;
    min-width: 180px;
    max-width: 250px;
    height: 200px;
    min-height: 180px;
    max-height: 250px;
    margin: 5px auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;

    &:hover {
      border: 1.5px solid $ikea-blue;
    }
  }

  .text-box {
    margin: 10px;

    .title {
      font-size: 19px;
      font-weight: 800;
    }

    .commit {
      margin: 10px 0;
      font-size: 15px;
    }

    .price-box {
      display: flex;
      justify-content: baseline;
      margin: 20px 0;
      font-size: 30px;
      font-weight: 800;
    }
  }

  .star-wrap {
    margin: 20px 0;
    .star {
      font-size: 15px;
    }
  }

  .icon-box {
    display: flex;
    align-items: center;
    justify-content: baseline;
  }
  .cart-wrap {
    margin-right: 10px;

    .cart-btn {
      @include flexCenter;
      width: 50px;
      height: 50px;
      border: none;
      border-radius: 70%;
      opacity: 0.6;
      background-color: $ikea-blue;

      &:hover {
        opacity: 1;
        background-color: $ikea-blue;
      }
    }

    .cart-icon {
      width: 18px;
      height: 18px;
      color: white;
    }

    .heart {
      margin: 10px;
    }
  }
}
