@import '../../../styles/mixin';
@import '../../../styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

.mini-product {
  height: auto;
  margin: 36px;

  .img {
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .new-tag {
      display: inline-block;
      padding: 6px 6px;
      background-color: #f41f49;
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
    }
  }

  .text-box {
    margin-top: 20px;

    .title {
      font-size: 16px;
      font-weight: 700;
    }

    .won {
      margin-right: 4px;
      font-size: 10px;
    }

    .price {
      font-size: 24px;
    }

    .commit {
      margin: 10px 0;
      color: #484848;
      font-size: 14px;
      font-weight: 400;
    }

    .price-box {
      display: flex;
      justify-content: baseline;
      margin: 20px 0;
      font-size: 30px;
      font-weight: 800;
    }
  }

  .star-wrap {
    margin: 12px 0 24px 0;
    .star {
      font-size: 12px;
    }
  }

  .icon-box {
    display: flex;
    align-items: center;
    justify-content: baseline;
  }

  .available {
    display: flex;
    align-items: center;
    margin-top: 16px;

    .circle {
      width: 10px;
      height: 10px;
      margin-right: 8px;
      border-radius: 50%;
      background-color: rgb(10, 138, 0);
    }

    .text {
      font-size: 14px;
      font-weight: 300;
    }
  }

  .cart-wrap {
    margin-right: 18px;

    .cart-btn {
      @include flexCenter;
      width: 46px;
      height: 46px;
      transition: 0.3s;
      border: none;
      border-radius: 70%;
      opacity: 0.8;
      background-color: $ikea-blue;

      &:hover {
        opacity: 1;
      }
    }

    .cart-icon {
      width: 18px;
      height: 18px;
      color: white;
    }

    .heart {
      color: #484848;
    }
  }

  .cart-link {
    color: black;
    text-decoration: none;
  }
}
